# Virtual environment
.venv/

# DuckDB database file
*.duckdb
*.duckdb.wal

# Raw/processed data (don't commit CSVs to GitHub)
data/

# Python
__pycache__/
*.pyc
*.pyo
.eggs/
*.egg-info/

# dbt
dbt_shelterflow/dbt_packages/
dbt_shelterflow/target/
dbt_shelterflow/logs/
dbt_shelterflow/.user.yml
logs/

# Great Expectations
great_expectations/uncommitted/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# R
.Rhistory

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/
